
{% assign defaultLang = site.site_languages | where_exp: 'lang', 'lang.default == true' | first | map: 'lang_id' %}
{% capture defaultLang %}{{ defaultLang }}{% endcapture %}

<script>

// define site default language and page language
let pageLang = "{{ page.lang }}";
let defaultLangId = "{{ defaultLang }}";

// use button ids to set up url for each button
document.querySelectorAll(".lang-button").forEach( node => {
    let id = node.id;
    let newUrl = "";
    let url = window.location.href;
    let button = document.getElementById(id);
    if (url.includes(id)){
        button.href = url;
    } else if (id == defaultLangId){
        newUrl = url.includes(pageLang) ? url.replace('/' + pageLang, "") : url;
        button.href = newUrl;
    } else {
        button.href = url;
        button.pathname = '/' + id + button.pathname;
    };
})

</script>