{%- assign languages = site.site_languages -%}

<div class="text-end">
    <div class="btn-group" role="group" aria-label="Button group to toggle site language">
        {%- for l in languages -%}
        {%- if l.default == true -%}
        <a id="{{ l.lang_id }}" class="btn btn-primary lang-button active" aria-current="page">{{ l.lang_display }}</a>
        {%- else -%}
        <a id="{{ l.lang_id }}" class="btn btn-primary lang-button" aria-current="page">{{ l.lang_display }}</a>
        {%- endif -%}
        {%- endfor -%}
    </div>
</div>